In [1]:
import pandas as pd
import numpy as np

In [2]:
airlines = pd.read_csv("../02-pandas/data/airlines.csv")
airports = pd.read_csv("../02-pandas/data/airports.csv")
flights = pd.read_csv("../02-pandas/data/flights.csv")

/tmp/ipykernel_1314/1188757705.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv("../02-pandas/data/flights.csv")

In [3]:
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [4]:
airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [5]:
flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

Jakie jest maksymalne opóźnienie związane z pogodą?

In [7]:
result = (
    flights.loc[flights["WEATHER_DELAY"].isnull() == False, ["WEATHER_DELAY"]]
    .sort_values("WEATHER_DELAY", ascending=False)
    .head(1)
)
result

         WEATHER_DELAY
5642980         1211.0

Jakie było maksymalne opóźnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [8]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), :]
    .sort_values("ARRIVAL_DELAY", ascending=False)
)
result

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5812552,2015,12,31,4,DL,101,N138DL,LAX,ATL,1235,...,44.0,296.0,0,0,NaN,0.0,0.0,296.0,0.0,0.0
5626116,2015,12,19,6,NK,474,N521NK,LAX,ATL,1205,...,2341.0,265.0,0,0,NaN,0.0,0.0,265.0,0.0,0.0
5704915,2015,12,24,4,DL,2032,N6712B,LAX,ATL,1115,...,2227.0,238.0,0,0,NaN,0.0,0.0,0.0,238.0,0.0
5570825,2015,12,16,3,WN,3150,N223WN,LAX,ATL,555,...,1634.0,204.0,0,0,NaN,0.0,0.0,204.0,0.0,0.0
5611896,2015,12,18,5,DL,1654,N3741S,LAX,ATL,1400,...,22.0,187.0,0,0,NaN,4.0,0.0,182.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5745327,2015,12,27,7,AA,1249,N030AA,LAX,ATL,1000,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5773987,2015,12,29,2,WN,3150,N273WN,LAX,ATL,555,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5778262,2015,12,29,2,AA,1249,N021AA,LAX,ATL,1000,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5789624,2015,12,29,2,DL,1354,N1607B,LAX,ATL,2350,...,1028.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5794488,2015,12,30,3,AA,1249,N001AA,LAX,ATL,1000,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN

In [9]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), ["ARRIVAL_DELAY"]]
    .sort_values("ARRIVAL_DELAY", ascending=False)
    .head(1)
)
result

         ARRIVAL_DELAY
5812552          296.0

Jaki był tail number lotu o maksymalnym opóźnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [10]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), :]
    .sort_values("ARRIVAL_DELAY", ascending=False)
    .head(1)
)
result["TAIL_NUMBER"]

5812552    N138DL
Name: TAIL_NUMBER, dtype: object

Jakie było minimalne opóźnienie lotu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [11]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), :]
    .sort_values("ARRIVAL_DELAY")
)
result

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5340299,2015,12,1,2,WN,3150,N704SW,LAX,ATL,555,...,1234.0,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5709169,2015,12,24,4,AA,2513,N005AA,LAX,ATL,1600,...,2243.0,-32.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5538371,2015,12,13,7,F9,1478,N232FR,LAX,ATL,2220,...,501.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5806154,2015,12,31,4,DL,1120,N844DN,LAX,ATL,530,...,1211.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5707850,2015,12,24,4,WN,2942,N7832A,LAX,ATL,1430,...,2111.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5745327,2015,12,27,7,AA,1249,N030AA,LAX,ATL,1000,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5773987,2015,12,29,2,WN,3150,N273WN,LAX,ATL,555,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5778262,2015,12,29,2,AA,1249,N021AA,LAX,ATL,1000,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5789624,2015,12,29,2,DL,1354,N1607B,LAX,ATL,2350,...,1028.0,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5794488,2015,12,30,3,AA,1249,N001AA,LAX,ATL,1000,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN

In [12]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), ["ARRIVAL_DELAY"]]
    .sort_values("ARRIVAL_DELAY")
    .head(1)
)
result

         ARRIVAL_DELAY
5340299          -36.0

Jaki był tail number lotu o minimalnym opóźnienieniu z Los Angeles, LAX to Atlanty, ATL w grudniu 2015?

In [13]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'LAX') & (flights["DESTINATION_AIRPORT"] == 'ATL') 
    & (flights["MONTH"] == 12) & (flights["YEAR"] == 2015), :]
    .sort_values("ARRIVAL_DELAY")
    .head(1)
)
result["TAIL_NUMBER"]

5340299    N704SW
Name: TAIL_NUMBER, dtype: object

Jaki był najdłuższy czas lotu (czas spędzony w powietrzu) z Honolulu, HNL gdziekolwiek?

In [14]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == "HNL")]
    .sort_values("AIR_TIME", ascending=False)
    .head(1))
    
result

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2978579,2015,7,6,1,HA,50,N383HA,HNL,JFK,1520,...,818.0,83.0,0,0,NaN,0.0,0.0,4.0,0.0,79.0

In [15]:
result[["AIR_TIME"]]

         AIR_TIME
2978579     630.0

(Do powyższego) Dokąd odbył sie ten lot?

In [16]:
result[["DESTINATION_AIRPORT"]]

        DESTINATION_AIRPORT
2978579                 JFK

(Do powyższego) Jaka linia go wykonała?

In [17]:
result[["AIRLINE"]]

        AIRLINE
2978579      HA

In [18]:
airlines.loc[airlines["IATA_CODE"] == 'HA']

   IATA_CODE                 AIRLINE
11        HA  Hawaiian Airlines Inc.

Jaki był minimalny czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [19]:
result = (
    flights[(flights["DESTINATION_AIRPORT"].isin(["ORD", "AUS"])) & (flights["ORIGIN_AIRPORT"].isin(["ORD", "AUS"]))]
    .sort_values("AIR_TIME")
)
result[["DESTINATION_AIRPORT", "ORIGIN_AIRPORT", "AIR_TIME"]].head(1)

        DESTINATION_AIRPORT ORIGIN_AIRPORT  AIR_TIME
5133601                 ORD            AUS     107.0

Jaki był średni czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [20]:
result["AIR_TIME"].mean()

133.81096451319382

Jaka była mediana czasu lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [21]:
result["AIR_TIME"].median()

132.0

Jaki był maksymalny czas lotu (czas w powietrzu) na trasie pomiędzy lotniskami Chicago, ORD i Austin, AUS (tam i z powrotem)?

In [22]:
result = (
    flights[(flights["DESTINATION_AIRPORT"].isin(["ORD", "AUS"])) & (flights["ORIGIN_AIRPORT"].isin(["ORD", "AUS"]))]
    .sort_values("AIR_TIME", ascending=False)
)
result[["DESTINATION_AIRPORT", "ORIGIN_AIRPORT", "AIR_TIME"]].head(1)

       DESTINATION_AIRPORT ORIGIN_AIRPORT  AIR_TIME
933026                 AUS            ORD     201.0

Jaka linia lata z Yumy, YUM?

In [23]:
result = (
    flights.loc[flights["ORIGIN_AIRPORT"] == 'YUM']
)
result["AIRLINE"].drop_duplicates()

1687    OO
Name: AIRLINE, dtype: object

In [24]:
airlines.loc[airlines["IATA_CODE"] == 'OO']

  IATA_CODE                AIRLINE
5        OO  Skywest Airlines Inc.

Ile lotów odbyło się z Yumy, YUM w 2015?

In [25]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'YUM') & (flights["YEAR"] == 2015)]
)

len(result)

1877

Jaka trasa ma najkrótsze czasy lotów?
Odpowiedź podaj jako sklejenie nazw lotnisk, 6liter, na przykład LAXJFK, JFKLAX. Obie odpowiedzi będą zaliczone.

In [38]:
flights.groupby(["ORIGIN_AIRPORT", "DESTINATION_AIRPORT"]).mean().sort_values(["AIR_TIME"])["AIR_TIME"]

ORIGIN_AIRPORT  DESTINATION_AIRPORT
14256           15841                   9.000000
WRG             PSG                    11.233846
14256           15841                  11.758621
PSG             WRG                    11.895706
15841           14256                  11.923077
                                         ...
SGF             HYS                          NaN
STL             PIA                          NaN
SWF             LGA                          NaN
TYS             CLL                          NaN
                LEX                          NaN
Name: AIR_TIME, Length: 12377, dtype: float64

In [40]:
# ??
airports.loc[airports["IATA_CODE"] == 14256]

Empty DataFrame
Columns: [IATA_CODE, AIRPORT, CITY, STATE, COUNTRY, LATITUDE, LONGITUDE]
Index: []

Znajdź najdłużej trwający lot (czas w powietrzu), nie z  JFK. Policz średnią długość lotu pomiędzy lotniskami tego lotu.

In [30]:
result = (
    flights.loc[flights["ORIGIN_AIRPORT"] != 'JFK']
    .sort_values("AIR_TIME", ascending=False)
)

result[["ORIGIN_AIRPORT", "AIR_TIME"]].head(1)

       ORIGIN_AIRPORT  AIR_TIME
565155            EWR     683.0

In [32]:
flights.loc[flights["ORIGIN_AIRPORT"] != 'JFK', ["AIR_TIME"]].mean()

AIR_TIME    112.097795
dtype: float64

Jaki jest średni czas lotu (czas w powietrzu) z Honolulu, HNL do Nowego Jorku, JFK?

In [34]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'HNL') & (flights["DESTINATION_AIRPORT"] == 'JFK')]
)

result["AIR_TIME"].mean()

546.4490445859873

Jaki jest średni czas lotu (czas w powietrzu) z Nowego Jorku, JFK do Honolulu, HNL?

In [29]:
result = (
    flights.loc[(flights["ORIGIN_AIRPORT"] == 'JFK') & (flights["DESTINATION_AIRPORT"] == 'HNL')]
)

result["AIR_TIME"].mean()

635.2070063694267